.row {
    /*
     * Negative margin to negate the padding on the first grid child. 
     */
    margin-left:-1 * ($baseSpacing) +em;
    /*** The following declarations allow us to use the `.row` class on lists. */
    list-style:none;
    margin-bottom:0;
}

/* Very infrequently occuring grid wrappers as children of grid wrappers. */
.row > .row {
    margin-left:0;
}

.col {
    float:left;
    padding-left:$baseSpacing +em;
}