iframe {
	background: $white;
	padding: 0.75em;
	border: 1px solid $gray;
}

.business-info {
	color: $white;

	a {
		color: $white;
	}

	ul {
		list-style: none;
		padding-left: 0;
		@include clearfix();

		li {
			float: left;
			padding: .375em .375em .375em 0;

			a {
				background: $white;
				padding: .75em .375em;
				color: $red;
				font-size: 1.5em;

				&:hover {
					background:transparent;
					color: $white;
				}
			}
		}
	}

	[itemprop="streetAddress"] {
		display: block;
	}

	[itemprop="telephone"],
	[itemprop="email"] {
		display: block;
		padding:($baseSpacing/2)+em 0;
	}

	[itemprop="telephone"] {
		font-weight: 800;
	}
}